.account {
	font-size: 1.4rem;
	line-height: 128.91%;
	background: #fff;
	position: relative;
	padding: 30px 20px 30px 20px;
	box-shadow:
			0px 1px 3px rgba(0, 0, 0, 0.2),
			0px 1px 1px rgba(0, 0, 0, 0.14),
			0px 2px 1px rgba(0, 0, 0, 0.12);

	&:before {
		top: 0;
		left: 0;
		content: "";
		width: 7px;
		height: 57px;
		display: block;
		position: absolute;
		background: #EF2323;
	}

	&__header {
		font-weight: 300;
		line-height: 100%;
		font-size: 2.8rem;
		margin-bottom: 25px;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);

		> span {
			display: inline-block;
		}

		&_nav {
			border: none;
			outline: none;
			width: 40px;
			height: 40px;
			font-size: 0;
			line-height: 0;
			cursor: pointer;
			position: relative;
			display: inline-block;
			background: transparent;

			span {
				top: 50%;
				left: 50%;
				z-index: 10;
				width: 20px;
				height: 2px;
				content: "";
				margin-top: -1px;
				margin-left: -10px;
				position: absolute;
				background: #1A1A1A;
				display: inline-block;
				-webkit-border-radius: 2px;
				-moz-border-radius: 2px;
				-ms-border-radius: 2px;
				border-radius: 2px;
			}

			&:after,
			&:before {
				left: 50%;
				z-index: 10;
				width: 20px;
				height: 2px;
				content: "";
				margin-left: -10px;
				position: absolute;
				background: #1A1A1A;
				display: inline-block;
				@include border-radius(2px);
				@include transition(.3s);
			}

			&:after {
				top: 12px;
			}

			&:before {
				bottom: 12px;
			}

			&.open {

				span {
					display: none;
				}

				&:after {
					top: 19px;
					@include rotate(45deg);
					@include transition(.3s);
				}

				&:before {
					bottom: 19px;
					@include rotate(-45deg);
					@include transition(.3s);
				}
			}
		}
	}

	&__sidebar {
		min-height: 1px;
		position: relative;
	}

	&__content {

		&_text {
			font-size: 14px;
			line-height: 24px;
			max-width: 500px;
		}
	}

	&__title {
		color: #1A1A1A;
		font-size: 23px;
		font-weight: 600;
		line-height: 120%;
		margin-bottom: 20px;
	}

	&__data {
		font-size: 1.4rem;
		line-height: 1.8rem;
		margin-bottom: 20px;

		&_label {
			opacity: 0.5;
			display: block;
			color: #1A1A1A;
			font-weight: 400;
			margin-bottom: 1px;
			@include flexbox();
			@include align-items(center);

			> span {
				display: inline-block;
			}

			.form_visible__button {
				top: auto;
				left: auto;
				opacity: 1;
				margin: 0 0 0 10px;
				position: relative;
			}
		}

		&_value {
			color: #1A1A1A;
			padding-bottom: 4px;
		}

		&_input {
			margin: 0;
			width: 100%;
		//	height: 40px;
			border: none;
			outline: none;
			overflow: hidden;
		//	max-width: 330px;
			font-size: 1.4rem;
			line-height: 1.8rem;
			color: $color-base;
			padding: 0 0 4px 0;
			text-overflow: ellipsis;
			background: transparent;
			display: inline-block;
			vertical-align: middle;
			border-bottom: 1px solid #A7A9AA;
			@include placeholder($color-base);

			&::-ms-clear {
				display: none;
				width: 0;
				height: 0;
			}

			&:focus,
			&:active {
				outline: none;
				@include placeholder(transparent);
			}

			&.error {
				border-color: #FF3840;
			}

			&.input_date {
				padding-right: 30px;
				background: transparent url("../img/icon__calendar_md.svg") 100% 50% no-repeat;
			}
		}

		&_row {

		}

		&_col {
			margin-bottom: 8px;
		}
	}

	&__divider {
		opacity: 0.2;
		margin-bottom: 40px;
		border-bottom: 1px solid #4F5355;
	}

	h3 {
		padding: 0;
		font-weight: 300;
		font-size: 2.3rem;
		line-height: 120%;
		margin-bottom: 25px;
	}

	@media (min-width: $screen-sm-min) {

		&__data {
			max-width: 720px;

			&_row {
				width: 470px;
				@include flexbox();
				@include flex-wrap(wrap);
			}

			&_col {
				width: 235px;
				margin-bottom: 8px;
				padding-right: 10px;
				@include flex-shrink(0);
			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding: 30px 30px 50px 30px;

		&__header {
			font-size: 3rem;
			line-height: 3rem;
		}

		&__content {

			&_row {
				margin: 0 -25px;
				@include flexbox();
				@include flex-wrap(wrap);
			}

			&_col {
				width: 50%;
				max-width: 380px;
				padding: 0 25px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__content {

			&_row {

			}
		}
	}

	@media (min-width: $screen-xl-min) {
		padding: 30px 50px 30px 50px;

		&__header {

			&_nav {
				display: none;
			}
		}

		&__row {
			@include flexbox();
		}

		&__sidebar {
			width: 260px;
			@include flex-shrink(0);
		}

		&__content {
			padding-left: 30px;
			@include flex-grow(1);
		}

		&__content {
			padding-left: 70px;
		}
	}
}

.account_nav {
	display: none;
	overflow: hidden;
	background: #FFF;
	border-radius: 7px;
	margin-bottom: 30px;
	box-shadow:
			0px 1px 3px rgba(0, 0, 0, 0.2),
			0px 1px 1px rgba(0, 0, 0, 0.14),
			0px 2px 1px rgba(0, 0, 0, 0.12);

	&__primary {
		margin: 0;
		padding: 0;
		font-size: 14px;
		line-height: 16px;
		list-style: none;

		> li {

			> a {
			//	height: 45px;
				color: #1A1A1A;
				font-weight: 600;
				text-decoration: none;
				padding: 14px 15px 14px 20px;
				border-bottom: 1px solid #EDF2F5;
				@include flexbox();
				@include align-items(center);
				@include justify-content(space-between);

				.ico_svg {
					fill: #1A1A1A;
				}

				&:hover {
					color: #0288D1;
					text-decoration: none;

					.ico_svg {
						fill: #0288D1;
					}
				}

				span {
					display: inline-block;
				}

				i {
					width: 11px;
					height: 7px;
					font-size: 0;
					line-height: 0;
					display: inline-block;
					@include transition(.3s);
				}
			}

			&.active {

				> a {
					color: #0288D1;
					text-decoration: none;

					i {
						@include rotate(180deg);
						@include transition(.3s);
					}

					.ico_svg {
						fill: #0288D1;
					}
				}
			}

			&.open {

				> a {
					color: #0288D1;
					text-decoration: none;

					i {
						@include rotate(180deg);
						@include transition(.3s);
					}

					.ico_svg {
						fill: #0288D1;
					}
				}
			}
		}
	}

	&__second {
		margin: 0;
		display: none;
		padding: 8px 0;
		font-size: 13px;
		line-height: 20px;
		list-style: none;
		background: #F7FAFD;
		border-bottom: 1px solid #EDF2F5;

		> li {
			padding: 5px 10px 5px 40px;

			&:last-child {
				border-bottom: none;
			}

			> a {
				color: #1A1A1A;
				display: inline-block;
				text-decoration: none;

				&:hover {
					color: #0288D1;
					text-decoration: none;
				}
			}

			&.active {

				> a {
					color: #0288D1;
					text-decoration: none;
				}
			}
		}
	}

	&__single {
		margin: 0;
		padding: 0;
		font-size: 14px;
		line-height: 16px;
		list-style: none;

		> li {

			> a {
				//	height: 45px;
				color: #1A1A1A;
				font-weight: 600;
				text-decoration: none;
				padding: 14px 15px 14px 20px;
				border-bottom: 1px solid #EDF2F5;
				@include flexbox();
				@include align-items(center);
				@include justify-content(space-between);

				.ico_svg {
					fill: #1A1A1A;
				}

				&:hover {
					color: #0288D1;
					text-decoration: none;

					.ico_svg {
						fill: #0288D1;
					}
				}

				span {
					display: inline-block;
				}

				i {
					width: 11px;
					height: 7px;
					font-size: 0;
					line-height: 0;
					display: inline-block;
					@include transition(.3s);
				}
			}

			&.active {

				> a {
					color: #0288D1;
					text-decoration: none;

					i {
						@include rotate(180deg);
						@include transition(.3s);
					}

					.ico_svg {
						fill: #0288D1;
					}
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		top: 0;
		right: 0;
		z-index: 500;
		width: 260px;
		position: absolute;
	}

	@media (min-width: $screen-xl-min) {
		top: auto;
		right: auto;
		position: relative;
		margin-bottom: 30px;
		display: block !important;
	}
}

.form_visible {
	position: relative;

	.account__data_input {
		padding-right: 30px;
	}

	&__button {
		right: 0;
		top: 50%;
		padding: 0;
		width: 18px;
		height: 14px;
		border: none;
		outline: none;
		font-size: 0;
		line-height: 0;
		cursor: pointer;
		position: absolute;
		margin: -9px 0 0 0;
		display: inline-block;
		background: transparent;

		.ico_svg {
			fill: #DADADA;
			@include transition(.3s);
		}

		&:hover {

			.ico_svg {
				fill: $color-blue;
				@include transition(.3s);
			}
		}
	}
}

.select_md {
	width: 210px;
}

.analyst {

	&__name {
		color: #0288D1;
		font-weight: 600;
		font-size: 14px;
		line-height: 130%;
		position: relative;
		display: inline-block;
		text-decoration: underline;

		&:before {
			top: 7px;
			left: -12px;
			width: 5px;
			height: 5px;
			content: '';
			font-size: 0;
			line-height: 0;
			position: absolute;
			display: inline-block;
			@include border-radius(50%);
		}

		&.online {

			&:before {
				background: #25C2B9;
			}
		}

		&:hover {
			color: #0288D1;
			text-decoration: none;
		}
	}

	&__rate {
		padding-top: 3px;

		.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
			font-size: 1rem;
		}

		.raty {

			i {
				padding: 0 1px;
			}
		}
	}
}

.tooltip {
	font-size: 0;
	line-height: 0;
	position: relative;
	display: inline-block;

	&_container {
		z-index: 9999;
		position: absolute;

		.tooltip__content {
			display: block;
		}
	}

	&__text {
		cursor: pointer;
		font-size: 1.4rem;
		line-height: 1.8rem;
	}
	
	&__elem {
		width: 16px;
		font-size: 0;
		line-height: 0;
		cursor: pointer;
		position: relative;
		display: inline-block;

		.ico_svg {
			fill: $color-blue;
		}
	}

	&__content {
		top: 100%;
		left: 50%;
		width: 174px;
		z-index: 100;
		display: none;
		padding-top: 15px;
		position: absolute;
		margin-left: -87px;

		&_wrap {
			font-size: 12px;
			font-weight: 600;
			line-height: 15px;
			position: relative;
			background: #F2F4F6;
			border: 1px solid #D0DCE6;
			padding: 10px 10px 10px 10px;
			box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
			@include border-radius(5px);

			&:before {
				left: 50%;
				top: -9px;
				width: 14px;
				height: 9px;
				content: '';
				font-size: 0;
				line-height: 0;
				margin-left: -7px;
				position: absolute;
				background: url("../img/arrow__up.png") 0 0 no-repeat;
			}
		}
	}

	&:hover {

		.tooltip__content {
	//		opacity: 1;
	//		visibility: visible;
		}
	}

	@media (max-width: $screen-lg-max) {

		&__content {

			&_up {
				top: auto;
				bottom: 100%;
				padding-top: 0;
				padding-bottom: 15px;

				.tooltip__content_wrap {

					&:before {
						top: auto;
						bottom: -9px;
						@include rotate(180deg);
					}
				}
			}
		}
	}
}

.flex_center {
	@include flexbox();
	@include align-items(center);
	@include justify-content(center);

	.tooltip {
		margin-left: 5px;
	}
}

.account_checkout {
	font-size: 14px;
	text-align: right;
	line-height: 130%;

	&__summary {
		color: #0288D1;
		font-weight: 600;
		margin-bottom: 2px;
	}

	&__price {
		color: #1A1A1A;
	}
}

.training {
	border-radius: 7px;
	background: #FFFFFF;
	box-shadow:
			0px 1px 3px rgba(0, 0, 0, 0.2),
			0px 1px 1px rgba(0, 0, 0, 0.14),
			0px 2px 1px rgba(0, 0, 0, 0.12);

	&__header {
		background: #F6FAFD;
		border-radius: 7px 7px 0 0;
		padding: 26px 20px 17px 28px;

		&_title {
			font-weight: 600;
			font-size: 1.6rem;
			line-height: 130%;
			margin-bottom: 10px;
			text-transform: uppercase;
		}

		&_scope {
			font-size: 1.4rem;
			line-height: 130%;

			span {
				opacity: 0.5;
			}
		}
	}

	&__content {
		padding: 16px 20px 32px 28px;
	}

	&__author {
		color: #0288D1;
		font-weight: 600;
		font-size: 1.8rem;
		line-height: 130%;
		margin-bottom: 5px;
		display: inline-block;
		text-decoration: underline;

		&:hover {
			color: #0288D1;
			text-decoration: none;
		}
	}

	&__rate {
		margin-bottom: 18px;
	}

	&__price {
		font-size: 1.4rem;
		line-height: 130%;
		margin-bottom: 22px;

		span {
			opacity: 0.5;
		}
	}

	&__file {
		margin-right: 10px;
		font-weight: 600;
		font-size: 1.2rem;
		line-height: 1.5rem;
		color: $color-base;
		text-decoration: underline;
		@include flexbox();
		@include align-items(center);

		i {
			width: 19px;
			font-size: 0;
			line-height: 0;
			display: inline-block;
		}

		span {
			padding-left: 13px;
			display: inline-block;
		}

		&:hover {
			color: $color-base;
			text-decoration: none;
		}
	}

	&_row {

	}

	&_col {
		margin-bottom: 40px;
	}

	@media (min-width: $screen-md-min) {

		&_row {
			margin: 0 -15px;
			@include flexbox();
			@include flex-wrap(wrap);
		}

		&_col {
			width: 33.33%;
			padding: 0 15px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&_row {
			margin: 0 -20px;
		}

		&_col {
			padding: 0 20px;
			max-width: 330px;
		}
	}
}


.account_symbol {
	margin-bottom: 18px;

	&:last-child {
		margin-bottom: 0;
	}

	&__text {
		font-size: 1.4rem;
		line-height: 2rem;
		margin-bottom: 10px;
	}

	&__row {
		margin: 0 -5px;
		@include flexbox();
		@include flex-wrap(wrap);
		@include align-items(center);
	}

	&__item {
		padding: 5px 10px;
		font-size: 1.4rem;
		line-height: 2rem;
		background: #F4F4F4;
		display: inline-block;
		margin: 0 5px 10px 5px;
		@include border-radius(7px);
	}
}

.account_portfolio {
	margin-bottom: 50px;

	&__title {
		font-weight: 300;
		font-size: 2.3rem;
		line-height: 120%;
		margin-bottom: 20px;
	}

	&__info {
		font-size: 1.4rem;
		line-height: 1.8rem;
		margin-bottom: 15px;
	}

	&__row {

	}

	&__col {
		margin-bottom: 22px;
	}

	&__label {
		opacity: 0.5;
		margin-bottom: 2px;
	}

	&__data {

	}

	@media (min-width: $screen-md-min) {

		&__row {
			@include flexbox();
		}


		&__col {
			@include flex-shrink(0);

			&:first-child {
				width: 220px;
			}
		}
	}
}

.robot {
	margin-bottom: 45px;

	&__info {
		padding: 0;
		list-style: none;
		margin: 0 0 18px 0;
		font-size: 1.4rem;
		line-height: 128.91%;

		> li {
			margin-bottom: 11px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.table_finished {

	td {
		position: relative;
	}
}

.table_summary {
	left: 0;
	right: 0;
	bottom: -43px;
	position: absolute;
}

.account_summary {
	width: 300px;
//	font-weight: 600;
	font-size: 1.4rem;
	line-height: 2rem;
	margin-bottom: 20px;

	ul {
		padding: 0;
		margin: 0 0 4px 0;
		list-style: none;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);

		> li {
			display: inline-block;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}


@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}

