.content_text {
	font-size: 1.6rem;
	line-height: 2.8rem;


	ol {
		margin: 0;
		padding: 0;
		list-style: none;
		counter-reset: li;

		li {
			padding-left: 31px;
			position: relative;
			margin-bottom: 12px;

			&:before {
				top: 0;
				left: 0;
				width: 31px;
				text-align: right;
				padding-right: 11px;
				font-weight: 600;
				font-size: 1.6rem;
				line-height: 2.8rem;
				content: counter(li) ".";
				counter-increment: li;
				position: absolute;
				display: inline-block;
			}
		}

	}

	p {
		margin-bottom: 12px;
	}

	@media (min-width: $screen-md-min) {

		ol {
			&.second_list {
				padding-left: 20px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {

	}
}

.list_num {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		padding-left: 35px;
		position: relative;
		margin-bottom: 12px;

		&:before {
			top: 0;
			left: 0;
			width: 35px;
			text-align: right;
			padding-right: 15px;
			font-weight: 600;
			content: '';
			counter-increment: li;
			position: absolute;
			display: inline-block;
		}

		ul {
			margin: 0;
			padding: 12px 0 0 0;
			list-style: none;

			li {
				padding-left: 35px;
				position: relative;
				margin-bottom: 12px;

				&:before {
					top: 0;
					left: 0;
					width: 35px;
					text-align: right;
					padding-right: 14px;
					font-weight: 600;
					content: '';
					counter-increment: li;
					position: absolute;
					display: inline-block;
				}

			}
		}
	}
}


.video_box {
	font-size: 0;
	line-height: 0;
	display: block;
	margin: 0 auto;
	max-width: 610px;
	position: relative;

	&:before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		content: '';
		display: block;
		position: absolute;
		background: rgba(55,77,88,0.5);
	}

	strong {
		top: 50%;
		left: 50%;
		z-index: 10;
		width: 52px;
		height: 52px;
		display: block;
		background: #fff;
		position: absolute;
		margin: -26px 0 0 -26px;
		@include border-radius(50%);
	}

	i {
		top: 50%;
		left: 50%;
		z-index: 10;
		width: 14px;
		height: 17px;
		position: absolute;
		display: inline-block;
		margin: -9px 0 0 -7px;

		.ico_svg {
			fill: $color-base;
		}
	}

	@media (min-width: $screen-md-min) {

		strong {

			&:before {
				top: 50%;
				left: 50%;
				z-index: 1;
				content: '';
				width: 76px;
				height: 76px;
				opacity: 0.3;
				position: absolute;
				border: 3px solid #fff;
				margin: -38px 0 0 -38px;
				@include border-radius(50%);
			}

			&:after {
				top: 50%;
				left: 50%;
				z-index: 2;
				content: '';
				width: 76px;
				height: 76px;
				position: absolute;
				margin: -38px 0 0 -38px;
				background: url("../img/svg/icon__play_scale.svg") 50% 50% no-repeat;
				@include border-radius(50%);
			}
		}
	}
}

.content_form {

	&__title {
		font-size: 2rem;
		font-weight: 600;
		line-height: 1.3;
		margin-bottom: 20px;
	}

	@media (min-width: $screen-md-min) {

		&__main {
			max-width: 350px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__title {
			font-size: 2.3rem;
		}
	}
}

.box {

	&_text {
		font-size: 1.6rem;
		line-height: 2.8rem;

		p {
			margin-bottom: 15px;

			&:last-child {
				margin-bottom: 0 !important;
			}
		}
	}

	&__content {
		font-size: 1.6rem;
		line-height: 2.8rem;

		p {
			margin-bottom: 15px;

			&:last-child {
				margin-bottom: 0 !important;
			}
		}
	}

	&__row {

	}

	&__col {
		margin-bottom: 30px;
	}

	&__row {

		&_image {
			margin-bottom: 30px;
		}
	}

	@media (min-width: $screen-md-min) {

		&__gaps {
			-webkit-column-count: 2;
			-moz-column-count: 2;
			column-count: 2;
			-webkit-column-gap: 30px;
			-moz-column-gap: 30px;
			column-gap: 30px;
		}
	}


	@media (min-width: 1024px) {

		&__row {
			margin-bottom: 30px;
			@include flexbox();
			@include justify-content(space-between);

			&_invert {
				@include flex-direction(row-reverse);

				.box__row_text {
					padding: 0 30px 0 0;
				}
			}

			&_center {
				@include align-items(center);
			}

			&_image {
				width: 450px;
				margin-bottom: 0;
				@include flex-shrink(0);
			}

			&_text {
				padding-left: 30px;
				@include flex-grow(1);
			}
		}

		&__col {
			width: calc(50% - 15px);
			margin-bottom: 0;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__col {

			&_media {
				width: 610px;
				@include flex-shrink(0);
			}

			&_form {
				padding-left: 40px;
				@include flex-flow(1);
			}

			&_invert {

				.box__row_text {
					padding: 0 40px 0 0;
				}
			}
		}

		&__gaps {
			-webkit-column-gap: 60px;
			-moz-column-gap: 60px;
			column-gap: 60px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__row {

			&_image {
				width: 640px;
			}

			&_text {
				padding-left: 40px;
			}


		}

		&__col {
			width: 610px;

			&_media {
				width: 610px;
			}

			&_form {
				width: 630px;
				padding-left: 0;
				@include flex-shrink(0);
			}
		}

		&__gaps {
			-webkit-column-gap: 80px;
			-moz-column-gap: 80px;
			column-gap: 80px;
		}
	}
}

.box_border {
	padding: 23px 25px;
	border: 1px solid $color-blue;

	@media (min-width: $screen-md-min) {
		padding: 23px 35px;
	}

	@media (min-width: $screen-xl-min) {
		margin-left: 20px;
	}
}

.chart_box {
	padding: 24px 20px;
	border: 1px solid $color-blue;
}

.record {
	overflow: hidden;
	background: #fff;
	font-size: 1.4rem;
	line-height: 1.8rem;
	position: relative;
	border-radius: 7px;
	margin-bottom: 30px;
	padding: 26px 25px 40px 25px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12);

	&:before {
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
		bottom: 107px;
		content: '';
		opacity: 0.5;
		position: absolute;
		background: #EDF4FA;
		border-radius: 7px 7px 0 0;
	}

	&__wrap {
		height: 100%;
		margin: 0 auto;
		max-width: 250px;
		@include flexbox();
		@include flex-direction(column);
	}

	&__title {
		z-index: 10;
		color: #1A1A1A;
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 130%;
		position: relative;
		margin-bottom: 15px;
		text-transform: uppercase;
	}

	&__date {
		z-index: 10;
		position: relative;
		margin-bottom: 20px;

		span {
			opacity: 0.5;
			display: block;
		}

		strong {
			display: block;
			font-weight: 400;
		}
	}

	&__video {
		z-index: 10;
		font-size: 0;
		line-height: 0;
		margin: 0 auto;
		position: relative;
		max-width: 250px;
		display: block;
		overflow: hidden;

		&:before {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			content: '';
			display: block;
			position: absolute;
			background: rgba(55,77,88,0.5);
		}
	}

	@media (min-width: $screen-md-min) {
		width: calc(50% - 15px);

		&__row {
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-between);
		}
	}

	@media (min-width: $screen-lg-min) {
		width: calc(25% - 15px);
	}

	@media (min-width: $screen-xl-min) {
		width: calc(25% - 25px);
	}
}


.btn_video {
	top: 50%;
	left: 50%;
	z-index: 20;
	width: 36px;
	height: 36px;
	font-size: 0;
	line-height: 0;
	display: block;
	background: #fff;
	position: absolute;
	margin: -18px 0 0 -18px;
	@include border-radius(50%);


	&:before {
		top: 50%;
		left: 50%;
		z-index: 1;
		content: '';
		width: 54px;
		height: 54px;
		opacity: 0.3;
		position: absolute;
		border: 2px solid #fff;
		margin: -27px 0 0 -27px;
		@include border-radius(50%);
	}

	&:after {
		top: 50%;
		left: 50%;
		z-index: 2;
		content: '';
		width: 54px;
		height: 54px;
		position: absolute;
		margin: -27px 0 0 -27px;
		background: url("../img/svg/icon__play_scale.svg") 50% 50% no-repeat;
		background-size: cover;
		@include border-radius(50%);
	}

	i {
		top: 50%;
		left: 50%;
		width: 13px;
		height: 15px;
		position: absolute;
		display: inline-block;
		margin: -8px 0 0 -6px;

		.ico_svg {
			fill: $color-base;
		}
	}
}

.img_box {
	margin: 0 auto;
	overflow: hidden;
	max-width: 640px;
	border-radius: 7px;
}

.page_program {

	.header {
		left: 0;
		right: 0;
		top: 60px;
		position: absolute;
	}
}


.program-header {
	text-align: center;
	font-size: 1.6rem;
	line-height: 2.8rem;
	padding-top: 120px;
	padding-bottom: 170px;
	background: url("../img/programm__bg.jpg") 50% 50% no-repeat;
	background-size: cover;

	&__title {
		font-weight: 600;
		font-size: 3.2rem;
		max-width: 1040px;
		line-height: 1.2;
		margin: 0 auto 30px auto;
	}

	&__text {


		strong {
			display: block;
		}

		span {

		}
	}

	@media (min-width: $screen-md-min) {
		font-size: 1.8rem;
		line-height: 3.3rem;
		padding-top: 180px;

		&__title {
			font-size: 4rem;
		}
	}

	@media (min-width: $screen-lg-min) {
		height: 572px;
		padding-bottom: 120px;

		&__title {
			font-size: 6rem;
			line-height: 6rem;
		}
	}
}


.program-content {
	z-index: 10;
	padding-top: 10px;
	padding-bottom: 80px;
	background: #fff;
	position: relative;

	&__top {
		position: relative;
		margin-top: -135px;
	}

	@media (min-width: $screen-md-min) {
		padding-bottom: 100px;
	}

	@media (min-width: $screen-lg-min) {
		padding-bottom: 130px;
	}
}

.program-box {
	background: #FFF;
	font-size: 1.6rem;
	line-height: 2.8rem;
	padding: 35px 25px;
	position: relative;
	border-radius: 10px;
	margin: 0 auto 60px auto;
	box-shadow: 0px 40px 80px rgba(23, 61, 98, 0.1);

	&__title {
		max-width: 640px;
		font-weight: 600;
		font-size: 1.8rem;
		line-height: 2.8rem;
		text-align: center;
		margin: 0 auto 40px auto;
	}

	&__text {
		margin-bottom: 30px;

		p {
			margin-bottom: 15px;

			&:last-child {
				margin-bottom: 0 !important;
			}
		}
	}

	&__lead {
		font-weight: 600;
		padding: 19px 20px;
		color: $color-blue;
		background: rgba(237, 244, 250, 0.5);
	}

	&__image {
		height: 300px;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
	}

	@media (min-width: $screen-md-min) {
		max-width: 940px;
		padding: 50px 35px;

		&__lead {
			padding: 22px 25px 22px 33px;
		}

		&__row {
			@include flexbox();
		}

		&__image {
			width: 260px;
			height: auto;
			@include flex-shrink(0);
		}

		&__content {
			padding-right: 30px;
			@include flex-grow(1);
		}
	}

	@media (min-width: 1000px) {
		width: 940px;
		padding: 50px 60px 60px 60px;

		&__content {
			padding-right: 44px;
		}
	}


	@media (min-width: $screen-lg-min) {
		margin-bottom: 130px;
	}

	@media (min-width: $screen-xl-min) {

	}
}

.program-advantage {

	&__image {
		max-width: 381px;
		overflow: hidden;
		margin: 0 auto;
		@include border-radius(10px);
	}

	&__text {
		font-weight: 600;
		font-size: 2.2rem;
		line-height: 2.4rem;


		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				padding-left: 40px;
				position: relative;
				margin-bottom: 17px;

				&:last-child {
					margin-bottom: 0;
				}

				&:before {
					top: 0;
					left: 0;
					content: '';
					width: 24px;
					height: 24px;
					font-size: 0;
					line-height: 0;
					position: absolute;
					display: inline-block;
					background: url("../img/icon__check2.svg") 50% 50% no-repeat;
				}

				strong {
					color: #0288D1;
					font-weight: 600;
				}
			}
		}
	}


	@media (min-width: $screen-md-min) {
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);

		&__image {
			margin: 0;
			width: 381px;
			@include flex-shrink(0);
		}

		&__text {
			padding-left: 40px;
		}

		@media (min-width: $screen-lg-min) {

			&__image {
				margin-left: 80px;
			}

			&__text {
				padding-left: 75px;
			}
		}
	}
}


.heading-red {
	font-size: 3rem;
	font-weight: 300;
	line-height: 100%;
	text-align: center;
	position: relative;
	padding-bottom: 20px;
	margin: 0 auto 30px auto;

	&:before {
		left: 50%;
		bottom: 0;
		content: '';
		width: 58px;
		height: 6px;
		margin-left: -29px;
		position: absolute;
		background: #EF2323;
	}

	@media (min-width: $screen-md-min) {
		margin-bottom: 55px;
	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {

	}
}

.program-why {
	padding-top: 60px;
	padding-bottom: 265px;
	background: url("../img/partners__bg_box.jpg") 50% 50% no-repeat;
	background-size: cover;

	&__list {
		padding: 0;
		width: 260px;
		margin: 0 auto;
		list-style: none;
		counter-reset:li;

		li {
			width: 260px;
			font-weight: 600;
			font-size: 1.8rem;
			line-height: 2.6rem;
			text-align: center;
			margin-bottom: 50px;
			position: relative;

			&:before {
				top: -27px;
				left: -27px;
				z-index: 10;
				width: 54px;
				height: 54px;
				display: block;
				padding: 11px 0;
				font-weight: 600;
				font-size: 2.4rem;
				line-height: 3rem;
				text-align: center;
				border-radius: 50%;
				position: absolute;
				color: $color-blue;
				background: #ffffff;
				content:counter(li);
				counter-increment:li;
				border: 1px solid $color-blue;
			}
		}
	}

	&__image {
		display: block;
		margin-bottom: 30px;
	}

	@media (min-width: $screen-md-min) {
		padding-top: 75px;

		&__list {
			width: auto;
			max-width: 760px;
			margin: 0 auto;
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(center);

			li {
				padding-top: 62px;
				margin: 0 30px 50px 30px;

				&:before {
					top: 35px;
				}

				&:after {
					top: 0;
					left: 15px;
					z-index: 10;
					content: '';
					width: 278px;
					height: 30px;
					display: block;
					position: absolute;
					background: url("../img/why__arrow.svg") 50% 50% no-repeat;
				}

				&:nth-child(2),
				&:nth-child(4) {

					&:after {
						display: none;
					}
				}
			}
		}
	}


	@media (min-width: $screen-lg-min) {
		padding-bottom: 315px;

		&__list {
			width: auto;
			max-width: 1220px;
			@include flex-wrap(nowrap);
			@include justify-content(space-between);

			li {
				margin: 0;
				width: 260px;

				&:after {
					left: 5px;
				}

				&:nth-child(2) {

					&:after {
						display: block;
					}
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__list {

			li {

				&:after {
					left: 15px;
				}
			}
		}
	}
}


.program-form {
	z-index: 50;
	background: #fff;
	padding-top: 10px;
	position: relative;
	padding-bottom: 60px;

	&__wrap {
		position: relative;
		margin-top: -257px;
	}

	&__inner {
		margin: 0 auto;
		max-width: 350px;
	}


	&__box {
		max-width: 546px;
		background: #FFFFFF;
		border-radius: 10px;
		margin: 0 auto;
		padding: 40px 25px 45px 25px;
		box-shadow: 0px 40px 80px rgba(23, 61, 98, 0.1);
	}

	&__title {
		font-weight: 600;
		font-size: 2.3rem;
		line-height: 120%;
		text-align: center;
		margin-bottom: 25px;
	}

	@media (min-width: $screen-md-min) {
		padding-bottom: 80px;

		&__box {
			padding: 66px 32px 73px 32px;
		}
	}


	@media (min-width: $screen-lg-min) {
		padding-bottom: 130px;
	}

	@media (min-width: $screen-xl-min) {

	}
}

.broker {
	font-size: 1.4rem;
	line-height: 1.8rem;
	padding: 29px 25px;
	text-align: center;
	margin-bottom: 30px;
	background: rgba(237, 244, 250, 0.5);

	&_list {
		padding-bottom: 5px;
	}

	&__logo {
		width: 180px;
		margin: 0 auto 30px auto;
	}

	&__info {
		margin-bottom: 30px;
	}

	&__title {
		line-height: 1.2;
		font-weight: 600;
		font-size: 2.3rem;
		color: $color-blue;
		margin-bottom: 15px;
		text-decoration: none;
		display: inline-block;

		&:hover {
			color: $color-blue;
			text-decoration: none;
		}
	}

	&__text {

	}

	&__button {

	}

	@media (min-width: $screen-md-min) {
		text-align: left;
		padding: 29px 35px;
		@include flexbox();
		@include align-items(center);

		&__logo {
			margin: 0;
			@include flex-shrink(0);
		}

		&__info {
			margin: 0;
			padding: 0 30px;
			@include flex-grow(1);
		}

		&__button {
			@include flex-shrink(0);
		}
	}


	@media (min-width: $screen-lg-min) {

		&__info {
			padding-right: 50px;
			padding-left: 50px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__info {
			padding-right: 120px;
		}
	}

}

.numeric {
	padding: 0;
	list-style: none;
	margin: 0 0 20px 0;

	> li {
		position: relative;
		margin-bottom: 8px;
		@include flexbox();

		&:last-child {
			margin-bottom: 0;
		}

		&:before {
			content: attr(data-num);
			white-space: nowrap;
			padding-right: 10px;
			display: inline-block;
			@include flex-shrink(0);
		}

		> div {
			display: inline-block;
		}
	}

	@media (min-width: $screen-md-min) {

		&_padding {
			padding-left: 25px;
		}
	}

}

.list_disk {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		padding-left: 20px;
		position: relative;
		margin-bottom: 8px;

		&:last-child {
			margin-bottom: 0;
		}

		&:before {
			left: 0;
			top: 10px;
			width: 6px;
			height: 6px;
			content: '';
			display: block;
			position: absolute;
			background: $color-base;
			@include border-radius(50%);
		}
	}
}


@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}


