.auth {
	overflow: visible;
	background: #fff;
	border-radius: 10px;
	padding: 30px 20px 40px 20px;
	font-family: $font-family-base;
	box-shadow: 0px 40px 80px rgba(23, 61, 98, 0.1);

	&__nav {
		line-height: 2rem;
		font-size: 1.6rem;
		margin-bottom: 18px;
		@include flexbox();
		@include align-items(center);

		a {
			width: 50%;
			display: block;
			color: $color-base;
			padding: 10px 0;
			text-align: center;
			text-decoration: none;
			border-bottom: 1px solid #DCDDDD;

			&:hover {
				color: $color-blue;
				text-decoration: none;
			}

			&.active {
				color: $color-blue;
				border-bottom-color: $color-blue;
			}
		}
	}



	&__subtitle {
		color: #414243;
		font-size: 1.4rem;
		line-height: 1.8rem;
		position: relative;
		margin-bottom: 15px;
		text-align: center;

		&:before {
			left: 0;
			right: 0;
			top: 50%;
			z-index: 1;
			height: 1px;
			content: '';
			display: block;
			position: absolute;
			background: #DCDDDD;
		}

		span {
			z-index: 10;
			padding: 0 23px;
			background: #fff;
			position: relative;
			display: inline-block;
		}
	}

	&__social {
		font-size: 0;
		line-height: 0;
		margin: 0 -5px;
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);

		a {
			opacity: 1;
			width: 24px;
			margin: 0 5px;
			display: block;
			text-decoration: none;
			@include transition(.3s);

			&:hover {
				opacity: 0.7;
				text-decoration: none;
				@include transition(.3s);
			}
		}
	}

	.btn {
		min-width: 146px;
	}

	&__tab {
		display: none;

		&.active {
			display: block;
		}
	}

	&__reg {
	//	min-height: 448px;


		&_form {
			display: block;
		}

		&_good {
			display: none;
		}

		&.done {
			font-size: 1.6rem;
			line-height: 2.8rem;

			.auth__reg_form {
				display: none;
			}

			.auth__reg_good {
				display: block;
			}
		}

		&_title {
			color: #000;
			font-weight: 600;
			font-size: 1.6rem;
			line-height: 2.8rem;
			padding-top: 45px;
			text-align: center;
			font-style: normal;
			margin-bottom: 30px;
		}

		&_text {
			text-align: center;
			font-size: 1.6rem;
			line-height: 2.8rem;
			margin-bottom: 60px;
		}
	}

	&__label {
		color: #4F5355;
		font-size: 1.3rem;
		line-height: 1.8rem;
		display: block;
		margin-bottom: 9px;

		span {
			display: inline-block;
			padding-right: 15px;
			background: url("../img/icon__lock.svg") 100% 50% no-repeat;
		}
	}

	&__info {
		min-height: 16px;
		font-size: 1.3rem;
		padding-left: 24px;
		position: relative;
		line-height: 1.6rem;
		display: inline-block;
		background: url("../img/icon__lock2.svg") 2px 2px no-repeat;
	}

	&__title {
		text-align: center;
		font-weight: 600;
		font-size: 2.3rem;
		line-height: 120%;
		margin-bottom: 9px;
	}

	@media (min-width: $screen-md-min) {
		width: 440px;
		padding: 34px 54px 55px 54px;

		&__row {
			margin: 0 -15px;
			@include flexbox();
		}

		&__col {
			width: 50%;
			padding: 0 15px;

			.form_label {
				min-height: 30px;
			}
		}


		&_md {
			width: 480px;
		}

		&__nav {
			font-size: 1.8rem;
		}

		&__social {

			a {
				width: 36px;
			}
		}

	}
}

.modal_new {
	background: #fff;
	padding: 40px 20px;
	border-radius: 10px;
	font-family: $font-family-base;
	box-shadow: 0px 40px 80px rgba(23, 61, 98, 0.1);

	&__title {
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 2.8rem;
		margin-bottom: 15px;
	}

	@media (min-width: $screen-md-min) {
		width: 598px;
		padding: 40px 50px 50px 50px;
	}

}

.modal_alert {
	padding: 40px 20px;
	text-align: center;
	border-radius: 10px;
	font-family: $font-family-base;
	box-shadow: 0px 40px 80px rgba(23, 61, 98, 0.1);

	&__text {
		font-size: 16px;
		line-height: 28px;
		margin-bottom: 15px;
	}

	.btn {
		min-width: 170px;
	}

	@media (min-width: $screen-md-min) {
		width: 440px;
		padding: 48px 40px 50px 40px;
	}
}

.form_elem {
	position: relative;

	&__input {
		margin: 0;
		z-index: 10;
		width: 100%;
		height: 39px;
		border: none;
		outline: none;
		padding: 15px 0 5px 0;
		font-size: 1.3rem;
		position: relative;
		color: $color-base;
		line-height: 1.8rem;
		display: inline-block;
		vertical-align: middle;
		background: transparent;
		border-top: 1px solid transparent;
		border-bottom: 1px solid #A7A9AA;
		@include placeholder(#4F5355);

		&::-ms-clear {
			display: none;
			width: 0;
			height: 0;
		}

		&:focus,
		&:active {
			outline: none;
			@include placeholder(transparent);
		}
	}

	&__label {
		left: 0;
		z-index: 2;
		bottom: 6px;
		color: #4F5355;
		font-size: 1.4rem;
		line-height: 2rem;
		position: absolute;
		display: inline-block;
		@include transition(.3s);
	}

	&__message {
		right: 0;
		z-index: 1;
		bottom: 6px;
		opacity: 0;
		visibility: hidden;
		overflow: hidden;
		font-size: 1.1rem;
		line-height: 2rem;
		position: absolute;
		padding-right: 20px;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	&__alert {
		color: #EF2323;
		background: url("../img/icon__error.svg") 100% 50% no-repeat;
	}

	&__private {
		background: transparent url("../img/icon__lock.svg") 100% 50% no-repeat;
	}

	&__calendar {
		background: transparent url("../img/icon__calendar_md.svg") 100% 50% no-repeat;
	}

	&.focus {

		.form_elem__input {
			border-bottom-color: $color-blue;
		}

		.form_elem__label {
			bottom: 20px;
			font-size: 1rem;
			@include transition(.3s);
		}
	}

	&.error {

		.form_elem__input {
			border-bottom-color: #EF2323;
		}

		.form_elem__message {
			opacity: 1;
			visibility: visible;
		}
	}
}

.callback {
	background: #fff;
	border-radius: 10px;
	padding: 30px 20px 40px 20px;
	font-family: $font-family-base;
	box-shadow: 0px 40px 80px rgba(23, 61, 98, 0.1);

	&__title {
		font-weight: 600;
		font-size: 2.3rem;
		line-height: 2.6rem;
		text-align: center;
		margin-bottom: 10px;
	}

	&__row {
		margin: 0 0 10px 0;
		padding: 0;
		list-style: none;
		@include flexbox();
		@include flex-wrap(wrap);

		> li {
			width: 50%;
			padding: 8px 0;
		}
	}

	@media (min-width: $screen-md-min) {
		width: 440px;
		padding: 38px 55px 50px 55px;

		&__row {

			> li {
				width: 33.33%;
			}
		}
	}
}

.thanks {
	border-radius: 10px;
	background: #fff;
	font-size: 1.6rem;
	line-height: 2.8rem;
	text-align: center;
	padding: 46px 20px;
	max-width: 440px;
	font-family: $font-family-base;
	box-shadow: 0px 40px 80px rgba(23, 61, 98, 0.1);

	@media (min-width: $screen-md-min) {
		width: 440px;
	}
}

.purchase {
	width: 268px;
	padding: 40px;
	min-height: 280px;
	border-radius: 10px;
	background: #fff;
	font-size: 1.6rem;
	line-height: 2.8rem;
	text-align: center;
	max-width: 440px;
	font-family: $font-family-base;
	box-shadow: 0px 40px 80px rgba(23, 61, 98, 0.1);


	&__title {
		font-weight: 600;
		font-size: 2.3rem;
		line-height: 150%;
	}

	&__name {

	}

	&__date {
		margin-bottom: 20px;
	}

	&__price {
		margin-bottom: 29px;

		strong {
			font-weight: 600;
			font-size: 2.3rem;
			color: $color-green;
		}

		span {
			font-weight: 600;
			color: $color-green;
		}
	}
}

.gender {
	@include flexbox();

	&__label {
		color: #4F5355;
		font-size: 1.3rem;
		line-height: 2.4rem;
		white-space: nowrap;
		padding-right: 10px;
	}

	&__form {

	}
}

.subscription {
	padding: 40px;
	min-height: 280px;
	border-radius: 10px;
	background: #fff;
	font-size: 1.6rem;
	line-height: 2.8rem;
	text-align: center;
	width: 290px;
	font-family: $font-family-base;
	box-shadow: 0px 40px 80px rgba(23, 61, 98, 0.1);

	&__title {
		font-weight: 600;
		font-size: 2.3rem;
		line-height: 110%;
		margin-bottom: 30px;
	}

	&__row {

	}

	&__item {
		background: #FFF;
		text-align: center;
		border-radius: 10px;
		margin-bottom: 30px;
		border: 1px solid #D0DCE6;
		padding: 26px 32px 34px 32px;
		box-shadow: 0px 12px 22px rgba(0, 0, 0, 0.06);

		&_period {
			font-weight: 600;
			font-size: 1.6rem;
			line-height: 140%;
			color: $color-green;
			margin-bottom: 28px;
		}

		&_price {
			font-weight: 600;
			font-size: 1.4rem;
			line-height: 140%;
			margin-bottom: 32px;

			strong {
				display: block;
				font-size: 4rem;
				font-weight: 600;
				line-height: 100%;
				margin-bottom: 2px;
			}

			span {
				display: block;
			}
		}

		.btn {
			width: 100%;
			padding-left: 25px;
			padding-right: 25px;
		}
	}


	&__info {
		opacity: 0.6;
		font-size: 1.4rem;
		line-height: 2rem;
		padding-top: 5px;

		a {
			color: $color-base;
			text-decoration: underline;

			&:hover {
				color: $color-base;
				text-decoration: none;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		width: 760px;

		&__row {
			@include flexbox();
			@include justify-content(space-between);
		}

		&__item {
			width: 210px;
		}
	}
}

.modal_page {
	background: #FFF;
	border-radius: 10px;
	margin-bottom: 30px;
	max-width: 900px;
	font-size: 1.6rem;
	line-height: 2.8rem;
	border: 1px solid #D0DCE6;
	padding: 40px 25px 40px 25px;
	box-shadow: 0px 12px 22px rgba(0, 0, 0, 0.06);

	&__title {
		font-weight: 600;
		font-size: 2.3rem;
		line-height: 120%;
		text-align: center;
		margin-bottom: 12px;

		strong {
			font-weight: 700;
			font-size: 2.8rem;

		}
	}

	&__subtitle {
		font-weight: 700;
		font-size: 2rem;
		line-height: 120%;
		margin-bottom: 10px;
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
		counter-reset:li;

		li {
			padding-left: 31px;
			position: relative;
			margin-bottom: 8px;

			&:before {
				top: 0;
				left: 0;
				width: 31px;
				text-align: right;
				padding-right: 11px;
				font-weight: 600;
				font-size: 1.6rem;
				line-height: 2.8rem;
				content:counter(li)'.';
				counter-increment:li;
				position: absolute;
				display: inline-block;
			}


			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	h2 {
		margin-bottom: 30px;
	}


	h4 {
		font-weight: 700;
		margin-bottom: 10px;
		text-transform: none;
	}

	p {
		margin-bottom: 10px;
	}

	&__price {
		list-style-type: circle;
	}

	@media (min-width: $screen-md-min) {
		padding: 40px 50px 40px 50px;
	}
}

.need {

	&__legend {
		padding: 0;
		font-size: 1.4rem;
		line-height: 2.4rem;
		list-style: none;
		margin: 0 -15px 22px 0;

		li {
			margin-right: 15px;
			padding-left: 28px;
			position: relative;

			&:before {
				left: 0;
				top: 5px;
				content: '';
				width: 17px;
				height: 17px;
				font-size: 0;
				line-height: 0;
				position: absolute;
				display: inline-block;
				@include border-radius(4px);
			}
		}

		&_red {

			&:before {
				background: #EF2323;
			}
		}

		&_blue {

			&:before {
				background: #77C2E2;
			}
		}
	}

	&__table {
		font-weight: 600;
		font-size: 1.2rem;
		line-height: 2rem;
		margin: 0 -2px 30px -2px;
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(flex-start);

		&_row {
			width: 33.33%;
			@include flex-shrink(1);
		}

		&_head {
			padding: 11px 7px;
			text-align: center;
			color: $color-black;
			background: #EEF7FF;
			border-bottom: 2px solid #fff;


			&:first-child {
				border-left: 2px solid #fff;
			}

			&:last-child {
				border-left: 2px solid #fff;
			}
		}

		&_col {
			color: #fff;
			padding: 7px;
			text-align: center;
			border: 2px solid #fff;
			@include border-radius(6px);

			&:last-child {
				margin-bottom: 20px;
			}
		}

		&_red {
			background: #EF2323;
		}

		&_blue {
			background: #77C2E2;
		}
	}

	&__text {
		font-size: 1.4rem;
		line-height: 2.4rem;
	}

	@media (min-width: $screen-md-min) {

		&__legend {
			@include flexbox();
			@include flex-wrap(wrap);

			li {
				white-space: nowrap;
			}
		}

		&__table {
			@include flex-wrap(nowrap);

			&_row {
				width: 16.66%;
				@include flex-shrink(1);
			}

			&_col {

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}


.confirmation {
	background: #fff;
	padding: 45px 20px 50px 20px;
	text-align: center;
	border-radius: 10px;
	font-family: $font-family-base;
	box-shadow: 0px 40px 80px rgba(23, 61, 98, 0.1);

	&__title {
		font-weight: 600;
		font-size: 16px;
		line-height: 28px;
		margin-bottom: 15px;
	}

	&__number {
		margin-bottom: 23px;
		@include flexbox();
		@include justify-content(center);
		@include align-items(center);

		&_item {
			width: 42px;
			padding: 0 6px;
		}

		&_input {
			margin: 0;
			width: 100%;
			height: 40px;
			outline: none;
			font-size: 1.3rem;
			line-height: 2rem;
			color: #4F5355;
			padding: 8px 1px;
			text-align: center;
			background: #ffffff;
			display: inline-block;
			vertical-align: middle;
			border: 1px solid rgba(79, 83, 85, 0.5);
			@include border-radius(7px);
			@include placeholder(#4F5355);

			&::-ms-clear {
				display: none;
				width: 0;
				height: 0;
			}

			&:focus,
			&:active {
				outline: none;
				@include placeholder(transparent);
			}
		}
	}

	&__buttons {
		margin: 0;
		padding: 0;
		list-style: none;
		@include flexbox();
		@include align-items(center);
		@include justify-content(center);

		> li {
			margin: 0 15px;
		}
	}

	@media (min-width: $screen-md-min) {
		width: 390px;
	}
}

.payment {
	width: 300px;
	background: #fff;
	padding: 45px 30px 50px 30px;
	border-radius: 10px;
	font-family: $font-family-base;
	box-shadow: 0px 40px 80px rgba(23, 61, 98, 0.1);

	&__title {
		font-weight: 600;
		font-size: 2.3rem;
		line-height: 120%;
		text-align: center;
		margin-bottom: 20px;
	}

	&__content {
		margin-bottom: 30px;
	}

	&__row {
		@include flexbox();
		@include flex-wrap(wrap);
	}

	&__item {
		margin-bottom: 20px;
		padding: 0 15px;
		font-size: 0;
		line-height: 0;
		font-weight: 400;
		position: relative;
		display: inline-block;

		input[type="radio"] {
			top: 0;
			left: 0;
			width: 0;
			height: 0;
			opacity: 0;
			visibility: hidden;
			position: absolute;
		}

		&_elem {
			height: 40px;
			position: relative;
			padding-left: 27px;
			@include flexbox();
			@include flex-direction(column);

			&:before {
				top: 50%;
				left: 0;
				z-index: 1;
				content: '';
				width: 18px;
				height: 18px;
				font-size: 0;
				line-height: 0;
				margin-top: -9px;
				position: absolute;
				display: inline-block;
				border: 1px solid #C4C4C4;
				@include border-radius(50%);
			}

			&:after {
				top: 50%;
				left: 5px;
				z-index: 2;
				content: '';
				width: 8px;
				height: 8px;
				font-size: 0;
				line-height: 0;
				margin-top: -4px;
				position: absolute;
				display: inline-block;
				background: #fff;
				@include border-radius(50%);
			}
		}

		&_wrap {
			margin: auto 0;
		}

		input:checked + .payment__item_elem{

			&:before {
				background: $color-blue;
				border-color: $color-blue;
			}
		}
	}

	&__button {
		text-align: center;
	}

	@media (min-width: $screen-md-min) {
		width: 620px;
		padding-left: 35px;

		&__content {
			@include flexbox();
			@include justify-content(space-between);
		}

		&__row {
			display: block;
		}

		&__button {
			text-align: left;
			padding-left: 15px;
		}
	}
}
