.footer {
	background: #fff;

	&__top {
		padding: 40px 0;
		@include flexbox();
		@include flex-wrap(wrap);
		@include align-items(flex-start);
		@include justify-content(space-between);

		&_logo {
			width: 100%;
			margin-bottom: 37px;
		}

		&_nav {
			width: 50%;
			margin-bottom: 37px;
		}

		&_phones {
			width: 40%;
			margin-bottom: 37px;
		}

		&_contact {
			width: 100%;
			margin-bottom: 37px;
		}

		&_links {
			width: 100%;
		}
	}

	&__logo {
		font-size: 0;
		line-height: 0;
		color: #1A1A1A;
		width: 155px;
		max-width: 200px;
		white-space: nowrap;
		text-decoration: none;
		display: inline-block;

		strong {
			height: 35px;
			font-weight: 700;
			font-size: 3.5rem;
			line-height: 3.5rem;
			color: $color-blue;
			display: inline-block;
			text-transform: uppercase;
		}

		span {
			height: 35px;
			padding-left: 3px;
			font-weight: 600;
			font-size: 2.5rem;
			line-height: 3.5rem;
			display: inline-block;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 1.6rem;
		line-height: 2rem;
		margin-bottom: 15px;
	}

	&__nav {
		margin: 0;
		padding: 0;
		font-size: 1.5rem;
		line-height: 2.5rem;
		list-style: none;


		li {

			a {
				opacity: 0.8;
				color: $color-black;
				text-decoration: none;

				&:hover {
					color: $color-blue;
					text-decoration: none;
				}
			}
		}
	}

	&__phones {
		margin: 0;
		padding: 0;
		font-size: 1.5rem;
		line-height: 2.5rem;
		list-style: none;

		li {

			a {
				opacity: 0.8;
				color: $color-black;
				text-decoration: none;

				&:hover {
					color: $color-black;
					text-decoration: none;
				}
			}
		}
	}

	&__bottom {
		padding: 17px 0;
		text-align: center;
		font-size: 1.5rem;
		line-height: 2.1rem;
		color: $color-black;
		border-top: 1px solid rgba(0,0,0,0.15);

		&_col {
			padding: 5px 0;
		}

		span {
			opacity: 0.6;
		}

		a {
			opacity: 0.6;
			color: $color-black;
			text-decoration: none;

			&:hover {
				color: $color-black;
				text-decoration: underline;
			}
		}
	}

	&__contact {
		margin: 0 -9px;
		padding: 8px 0 0 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		@include flexbox();
		@include align-items(center);

		li {
			padding: 0 9px;
			display: inline-block;

			a {
				height: 17px;
				display: inline-block;

				.ico_svg {
					fill: $color-black;
				}

				&:hover {

					.ico_svg {
						fill: $color-blue;
					}
				}
			}
		}
	}

	&__social {
		margin: 0 -11px;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		@include flexbox();
		@include align-items(center);

		li {
			padding: 0 11px;
			display: inline-block;

			a {
				height: 17px;
				display: inline-block;

				.ico_svg {
					fill: $color-black;
				}

				&:hover {

					.ico_svg {
						fill: $color-blue;
					}
				}
			}
		}
	}

	&__links {
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);

		&_col {

			&:first-child {
				width: 50%;
			}

			&:last-child {
				width: 40%;
			}

		}
	}

	@media (min-width: $screen-sm-min) {

		&__top {
			padding-top: 42px;
			padding-bottom: 54px;

			&_logo {
				width: 33.33%;
			}

			&_nav {
				width: 33.33%;
			}

			&_phones {
				width: 33.33%;
			}

			&_contact {
				width: 33.33%;
				margin-left: 33.33%;
			}

			&_links {
				width: 33.33%;
			}
		}

		&__links {
			display: block;

			&_col {

				&:first-child {
					width: 100%;
					margin-bottom: 35px;
				}

				&:last-child {
					width: 100%;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__top {
			padding-top: 58px;
			padding-bottom: 85px;
			@include flex-wrap(nowrap);

			&_logo {
				width: 20%;
				padding-top: 5px;
				margin-bottom: 0;
			}

			&_nav {
				width: 20%;
				margin-bottom: 0;
			}

			&_phones {
				width: 20%;
				margin-bottom: 0;
			}

			&_contact {
				width: 20%;
				margin-left: 0;
				margin-bottom: 0;
			}

			&_links {
				width: 20%;
				display: none;
			}
		}

		&__bottom {
			height: 58px;
			text-align: left;
			white-space: nowrap;
			@include flexbox();
			@include align-items(center);
			@include justify-content(space-between);

			&_col {
				padding: 0;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__top {

			&_logo {
				width: 230px;
				@include flex-shrink(0);
			}

			&_links {
				width: auto;
				display: block;
			}
		}

		&__logo {
			width: 200px;

			strong {
				height: 40px;
				font-size: 4rem;
				line-height: 4rem;
			}

			span {
				height: 40px;
				font-weight: 700;
				padding-left: 3px;
				font-size: 2.5rem;
				line-height: 4rem;
			}
		}


		&__links {
			@include flexbox();
			@include align-items(center);

			&_col {

				&:first-child {
					margin-bottom: 0;
					margin-right: 58px;
				}
			}
		}

		&__bottom {
			height: 69px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__top {
			@include justify-content(flex-start);

			&_logo {
				width: 300px;
				@include flex-shrink(0);
			}

			&_nav {
				width: 280px;
				@include flex-shrink(0);
			}

			&_phones {
				width: 240px;
				@include flex-shrink(0);
			}

			&_contact {
				width: 265px;
				@include flex-shrink(0);
			}

			&_links {
				width: 365px;
				@include flex-shrink(0);
			}
		}
	}
}
