.top {
	z-index: 1050;
	background: #fff;
	position: relative;

	&__row {
		height: 60px;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	}

	&__toggle {
		width: 40px;
		height: 40px;
		font-size: 0;
		line-height: 0;
		cursor: pointer;
		margin-left: -10px;
		position: relative;
		display: inline-block;

		&:after,
		&:before {
			left: 50%;
			z-index: 10;
			width: 20px;
			height: 2px;
			content: '';
			margin-left: -10px;
			position: absolute;
			background: #1A1A1A;
			display: inline-block;
			@include border-radius(2px);
		}

		&:after {
			top: 12px
		}

		&:before {
			bottom: 12px;
		}

		span {
			top: 50%;
			left: 50%;
			z-index: 10;
			width: 20px;
			height: 2px;
			content: '';
			margin-top: -1px;
			margin-left: -10px;
			position: absolute;
			background: #1A1A1A;
			display: inline-block;
			@include border-radius(2px);
		}
	}

	&__content {
		@include flexbox();
		@include align-items(center);

		&_item {
			display: none;
			padding-left: 24px;
		}
	}

	&__rate {
		display: none;
		color: #1A1A1A;
		line-height: 1.3;
		font-size: 1.1rem;

		&_item {
			display: block;
			margin-right: 44px;
			white-space: nowrap;
		}

		&_name {
			display: block;
			text-transform: uppercase;
		}

		&_value {
			font-weight: 500;
			font-size: 1.4rem;
			@include flexbox();
			@include align-items(center);

			span {
				display: inline-block;
			}

			i {
				width: 10px;
				height: 12px;
				font-size: 0;
				line-height: 0;
				margin-left: 6px;
				display: inline-block;
			}
		}

		&_up {
			color: $color-green;

			.ico_svg {
				fill: $color-green;
			}
		}

		&_down {
			color: $color-red;

			.ico_svg {
				fill: $color-red;
			}
		}
	}

	.btn {
		padding: 9px 30px;
	}

	@media (min-width: $screen-sm-min) {

		&__content {

			&_item {
				display: block;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__toggle {
			display: none;
		}

		&__rate {
			@include flexbox();
		}
	}
}

.lng {
	z-index: 500;
	position: relative;
	display: inline-block;

	&.open {

		.lng__active_arrow {
			@include rotate(180deg);
		}

		.lng__content {
			opacity: 1;
			z-index: 500;
			visibility: visible;
			@include transition(.3s);
		}
	}

	&__active {
		height: 60px;
		cursor: pointer;
		font-weight: 500;
		font-size: 1.5rem;
		line-height: 2rem;
		@include flexbox();
		@include align-items(center);

		&_icon {
			width: 12px;
			height: 12px;
			font-size: 0;
			line-height: 0;
			display: inline-block;
		}

		&_arrow {
			width: 9px;
			height: 6px;
			font-size: 0;
			line-height: 0;
			display: inline-block;

			.ico_svg {
				fill: $color-black;
				stroke: $color-black;
			}
		}

		&_name {
			padding: 0 7px;
			white-space: nowrap;
			display: inline-block;
		}
	}

	&__content {
		top: 100%;
		opacity: 0;
		z-index: -1;
		padding: 6px 0;
		margin-top: 3px;
		background: #fff;
		font-weight: 500;
		font-size: 1.4rem;
		visibility: hidden;
		line-height: 2.1rem;
		position: absolute;
		box-shadow:
				0px 1px 3px rgba(0, 0, 0, 0.2),
				0px 1px 1px rgba(0, 0, 0, 0.14),
				0px 2px 1px rgba(0, 0, 0, 0.12);
		@include border-radius(8px);
		@include transition(.3s);

		a {
			width: 100%;
			color: #1A1A1A;
			padding: 6px 20px;
			white-space: nowrap;
			display: inline-block;
			text-decoration: none;

			&:hover {
				color: $color-blue;
			}
		}
	}
}

.header {
	z-index: 1000;
	padding-top: 28px;
	padding-bottom: 15px;
	position: relative;

	&__row {
		position: relative;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	}


	&__logo {
		width: 155px;
		font-size: 0;
		line-height: 0;
		color: #1A1A1A;
		white-space: nowrap;
		text-decoration: none;
		display: inline-block;

		strong {
			height: 35px;
			font-weight: 700;
			font-size: 3rem;
			line-height: 3.5rem;
			color: $color-blue;
			display: inline-block;
			text-transform: uppercase;
		}

		span {
			height: 35px;
			padding-left: 3px;
			font-weight: 600;
			font-size: 2rem;
			line-height: 3.5rem;
			display: inline-block;
		}
	}

	&__auth {
		display: inline-block;
	}

	&__enter {
		color: #1A1A1A;
		font-weight: 500;
		font-size: 1.5rem;
		line-height: 2rem;
		text-decoration: none;
		@include flexbox();
		@include align-items(center);

		i {
			width: 14px;
			height: 14px;
			font-size: 0;
			line-height: 0;
			margin-right: 10px;
			display: inline-block;
		}

		span {
			display: inline-block;
		}

		.ico_svg {
			fill: $color-blue;
		}

		&:hover {
			color: $color-blue;
			text-decoration: none;
		}
	}


	@media (min-width: $screen-md-min) {

		&__logo {

			strong {
				font-size: 3.5rem;
				line-height: 3.5rem;
			}

			span {
				font-size: 2.5rem;
				line-height: 3.5rem;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__logo {
			width: 200px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__logo {
			margin-right: 158px;
			@include flex-shrink(0);
		}
	}
}

.nav {
	top: 0;
	left: 0;
	width: 300px;
	z-index: 1200;
	position: fixed;
	overflow-y: auto;
	background: #fff;
	padding: 55px 20px 65px 20px;
	margin-left: -320px;
	height: 100vh;
	// height: calc(var(--vh, 1vh) * 100);
	box-shadow: 0px 40px 60px rgba(23, 61, 98, 0.08);
	@include transition(.3s);

	&__layout {
		top: 0;
		left: 0;
		opacity: 0;
		width: 100%;
		height: 100vh;
		z-index: 1150;
		position: fixed;
		visibility: hidden;
		background: #162E49;
		@include transition(.3s);
	}

	&__close {
		top: 22px;
		left: 22px;
		z-index: 10;
		width: 16px;
		height: 16px;
		font-size: 0;
		line-height: 0;
		cursor: pointer;
		position: absolute;
		display: inline-block;

		&:after,
		&:before {
			top: 50%;
			left: 50%;
			content: '';
			width: 20px;
			height: 2px;
			position: absolute;
			display: inline-block;
			margin: -1px 0 0 -10px;
			background: $color-black;
			@include border-radius(2px);
		}

		&:after {
			@include rotate(45deg);
		}

		&:before {
			@include rotate(-45deg);
		}
	}

	> ul {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			position: relative;

			&:before {
				display: none;
			}

			> a {
				width: 100%;
				padding: 5px 0;
				font-weight: 500;
				font-size: 2.4rem;
				line-height: 3rem;
				color: $color-black;
				white-space: nowrap;
				text-decoration: none;
				@include flexbox();
				@include align-items(center);

				span {
					display: inline-block;
				}

				i {
					width: 12px;
					height: 7px;
					font-size: 0;
					line-height: 0;
					margin-left: 8px;
					display: inline-block;
				}

				b {
					color: #fff;
					width: 24px;
					height: 24px;
					padding: 2px 0;
					font-weight: 700;
					font-size: 1.2rem;
					line-height: 2rem;
					margin-left: 10px;
					text-align: center;
					display: inline-block;
					background: $color-red;
					@include border-radius(50%);
				}

				.ico_svg {
					fill: $color-black;
					stroke: $color-black;
				}

				&:hover {
					color: $color-blue;

					.ico_svg {
						fill: $color-blue;
						stroke: $color-blue;
					}
				}

				&.nav_blue {
					color: $color-blue;

					.ico_svg {
						fill: $color-blue;
						stroke: $color-blue;
					}

					&:hover {
						color: $color-blue;

						.ico_svg {
							fill: $color-blue;
							stroke: $color-blue;
						}
					}
				}
			}

			&:hover {

				> a {
					color: $color-blue;

					.ico_svg {
						fill: $color-blue;
						stroke: $color-blue;
					}
				}

				> ul {
					display: block;
				}
			}

			> ul {
				margin: 0;
				display: none;
				list-style: none;
				font-size: 1.6rem;
				line-height: 2.4rem;
				padding: 0 0 0 20px;

				> li {

					> a {
						width: 100%;
						padding: 2px 0;
						color: $color-black;
						white-space: nowrap;
						text-decoration: none;
						@include flexbox();
						@include align-items(center);

						span {
							display: inline-block;
						}

						b {
							width: 21px;
							height: 21px;
							padding: 3px 0;
							font-weight: 700;
							font-size: 1.1rem;
							line-height: 1.3rem;
							margin-left: 10px;
							color: $color-red;
							text-align: center;
							background: #ffffff;
							display: inline-block;
							border: 1px solid $color-red;
							@include border-radius(50%);
						}


						&:hover {
							color: $color-blue;
							text-decoration: none;
						}
					}
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		width: 340px;
		margin-left: -350px;
		padding: 60px 20px;

		> ul {

			> li {

				> a {
					padding: 7px 0;
					font-size: 3rem;
					line-height: 3.6rem;
				}

				> ul {
					font-size: 1.8rem;
					line-height: 2.4rem;

					> li {

						> a {
							padding: 4px 0;
						}
					}
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding: 0;
		margin: 0;
		top: auto;
		left: auto;
		width: auto;
		height: auto;
		position: relative;
		overflow-y: visible;
		background: transparent;
		@include transition(0s);
		@include box-shadow(none);

		&__layout {
			display: none;
		}

		&__close {
			display: none;

		}

		> ul {
			@include flexbox();
			@include align-items(center);

			> li {
				padding: 0 15px;
				position: relative;

				> a {
					padding: 8px 0;
					font-size: 1.6rem;
					line-height: 2rem;

					span {

					}

					i {

						margin-left: 6px;
					}

					b {
						top: -10px;
						width: 18px;
						height: 18px;
						padding: 2px 0;
						margin-left: 4px;
						font-size: 1.1rem;
						line-height: 1.4rem;
						position: relative;
					}
				}

				&:hover {

					> ul {
						z-index: 100;
						opacity: 1;
						visibility: visible;
						@include transition(.2s);
					}
				}

				> ul {
					z-index: -1;
					left: -5px;
					top: 100%;
					opacity: 0;
					display: block;
					padding: 12px 0;
					background: #fff;
					font-size: 1.4rem;
					line-height: 2rem;
					visibility: hidden;
					position: absolute;
					box-shadow:
							0px 1px 3px rgba(0, 0, 0, 0.2),
							0px 1px 1px rgba(0, 0, 0, 0.14),
							0px 2px 1px rgba(0, 0, 0, 0.12);
					@include border-radius(8px);
					@include transition(.2s);

					> li {

						> a {
							font-weight: 500;
							padding: 5px 20px;
						}
					}
				}
			}
		}
	}


	@media (min-width: $screen-xl-min) {
		@include flex-grow(1);

		> ul {

			> li {
				padding: 0 21px;

				> ul {
					left: 0;

					> li {

						> a {
							padding: 5px 21px;
						}
					}
				}
			}
		}
	}
}


.page {

	&.nav_open {

		.nav {
			margin-left: 0;
			@include transition(.3s);
		}

		.nav__layout {
			opacity: 0.5;
			visibility: visible;
			@include transition(.3s);
		}
	}

	@media (min-width: $screen-md-min) {

		&.nav_open {

			.nav {
				margin-left: 0;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

	}
}

.user {
	z-index: 200;
	font-size: 0;
	line-height: 0;
	padding: 7px 0 7px 0;
	position: relative;
	display: inline-block;

	&__label {
		width: 100%;
		cursor: pointer;
		color: #414243;
		max-width: 190px;
		display: inline-block;

		> span {
			max-width: 100%;
			overflow: hidden;
			padding-top: 1px;
			white-space: nowrap;
			font-size: 1.6rem;
			line-height: 1.8rem;
			display: inline-block;
			text-overflow: ellipsis;
			border-bottom: 1px solid #B5BEC4;
		}

		> i {
			top: 5px;
			left: calc(100% + 2px);
			width: 16px;
			height: 16px;
			font-size: 0;
			line-height: 0;
			position: absolute;
		}
	}


	&__dropdown {
		right: 0;
		opacity: 0;
		z-index: -1;
		visibility: hidden;
		top: 100%;
		min-width: 180px;
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 3rem;
		background: #fff;
		position: absolute;
		padding: 20px 15px 20px 25px;
		border: 1px solid #D0DCE6;
		box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
		@include border-radius(5px);

		&:before {
			top: 0px;
			left: 5px;
			right: 5px;
			content: '';
			height: 1px;
			display: block;
			position: absolute;
			background: $color-blue;
		}

		&:after {
			z-index: 10;
			top: -8px;
			right: 24px;
			content: '';
			width: 17px;
			height: 14px;
			display: block;
			position: absolute;
			background: url("../img/dropdown__arrow.svg") 50% 50% no-repeat;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {

				a {
					opacity: 0.8;
					color: $color-base;
					white-space: nowrap;
					text-decoration: none;

					&:hover {
						opacity: 1;
						color: $color-blue;
						text-decoration: none;
					}
				}
			}
		}
	}


	&:hover {

		.user__dropdown {
			opacity: 1;
			z-index: 100;
			visibility: visible;
		}
	}
}
