.img_fluid {
	height: auto;
	display: block;
	max-width: 100%;
}

.ico_svg {
	position: relative;
	display: inline-block;
	width: auto;
	height: 100%;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

.hide {
	opacity: 0 !important;
	display: none !important;
	visibility: hidden !important;
}



// Alignment

.text_center    { text-align: center !important; }
.text_right     { text-align: right !important; }
.text_justify   { text-align: justify !important; }
.text_nowrap    { white-space: nowrap !important; }



// Transformation

.text_lowercase  { text-transform: lowercase !important; }
.text_uppercase  { text-transform: uppercase !important; }
.text_capitalize { text-transform: capitalize !important; }

.mb_0 			 { margin-bottom: 0 !important; }
.mb_05 			 { margin-bottom: 5px !important; }
.mb_08 			 { margin-bottom: 8px !important; }
.mb_10 			 { margin-bottom: 10px !important; }
.mb_15 			 { margin-bottom: 15px !important; }
.mb_18 			 { margin-bottom: 18px !important; }
.mb_20 			 { margin-bottom: 20px !important; }
.mb_25 			 { margin-bottom: 25px !important; }
.mb_28 			 { margin-bottom: 28px !important; }
.mb_30 			 { margin-bottom: 30px !important; }
.mb_35 			 { margin-bottom: 35px !important; }
.mb_38 			 { margin-bottom: 38px !important; }
.mb_40 			 { margin-bottom: 40px !important; }
.mb_42 			 { margin-bottom: 42px !important; }
.mb_45 			 { margin-bottom: 45px !important; }
.mb_50 			 { margin-bottom: 50px !important; }
.mb_60 			 { margin-bottom: 60px !important; }

.color_blue 	 { color: $color-blue !important; }
.color_green 	 { color: $color-green !important; }
.color_red		 { color: $color-red !important; }
.color_black	 { color: $color-base !important; }

.pt_04			 { padding-top: 4px !important; }
.pt_10			 { padding-top: 10px !important; }
.pt_30			 { padding-top: 30px !important; }
.pt_35			 { padding-top: 35px !important; }
.pt_40			 { padding-top: 40px !important; }

.pb_0			 { padding-bottom: 0 !important; }
