
.btn {
	outline: none;
	cursor: pointer;
	font-weight: 600;
	font-size: 1.4rem;
	line-height: 2rem;
	padding: 9px 35px;
	user-select: none;
	text-align: center;
	color: $color-blue;
	position: relative;
	white-space: nowrap;
	background: transparent;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid $color-blue;
	@include border-radius(20px);

	.ico_svg {
		fill: $color-blue;
	}

	&:hover {
		color: #fff;
		text-decoration: none;
		background: $color-blue;

		.ico_svg {
			fill: #fff;
		}
	}

	&:active {
		background: transparent;
		color: $color-blue;

		.ico_svg {
			fill: $color-blue;
		}
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}

.btn_blue {
	color: #fff;
	background: $color-blue;

	&:hover {
		background: $color-green;
		border-color: $color-green;
		color: #fff;
	}

	&:active {
		color: #fff;
		background: $color-blue;
	}
}

.btn_green {
	color: #fff;
	background: $color-green;
	border-color: $color-green;

	.ico_svg {
		fill: #fff;
	}

	&:hover {
		background: $color-blue;
		color: #fff;
		border-color: $color-blue;

		.ico_svg {
			fill: $color-green;
		}
	}

	&:active {
		color: #fff;
		font-weight: 400;
		background: $color-green;
	}


	&.btn_disable {

		&:hover {
			color: #fff;
			background: $color-green;
			border-color: $color-green;

			.ico_svg {
				fill: #fff;
			}
		}
	}
}

.btn_sm {
	padding: 4px 25px;
	@include border-radius(15px);
}

.btn_md {
	font-weight: 700;
	font-size: 1.5rem;
	padding: 19px 40px;
	@include border-radius(30px);
}

.btn_midi {
	padding: 9px 32px;
}


.btn_arrow_right {
	padding-right: 60px;

	i {
		top: 50%;
		right: 31px;
		width: 22px;
		height: 12px;
		font-size: 0;
		line-height: 0;
		margin-top: -6px;
		position: absolute;
		display: inline-block;
	}
}

.btn_arrow_down {
	padding-right: 55px;

	i {
		top: 50%;
		right: 32px;
		width: 16px;
		height: 16px;
		font-size: 0;
		line-height: 0;
		margin-top: -8px;
		position: absolute;
		display: inline-block;
	}
}

.btn_white {
	color: $color-blue;
	background: #fff;
	border-color: #fff;

	.ico_svg {
		fill: $color-blue;
	}

	&:hover {
		color: #fff;
		background: transparent;

		.ico_svg {
			fill: #fff;
		}
	}

	&:active {
		color: $color-blue;
		background: #fff;


		.ico_svg {
			fill: $color-blue;
		}
	}
}

.btn_white_border {
	color: #fff;
	border-color: #fff;
	background: transparent;

	.ico_svg {
		fill: #fff;
	}

	&:hover {
		color: $color-blue;
		background: #fff;

		.ico_svg {
			fill: $color-blue;
		}
	}

	&:active {
		color: #fff;
		background: transparent;


		.ico_svg {
			fill: #fff;
		}
	}
}

.btn_shadow {
	@include box-shadow(0px 15px 10px rgba(30, 80, 130, 0.2));

	&:hover {
		@include box-shadow(0px 15px 10px rgba(30, 80, 130, 0.4));
	}

	&:active {
		@include box-shadow(0px 15px 10px rgba(30, 80, 130, 0.2));
	}
}

.btn_group {
	padding: 0;
	margin: 0 -13px;
	list-style: none;
	@include flexbox();
	@include flex-wrap(wrap);
	@include align-items(center);

	> li {
		padding: 5px 13px;
		display: inline-block;
	}
}

.btn_clear {
	margin: 0;
	border: none;
	outline: none;
	cursor: pointer;
	position: relative;
	color: $color-base;
	font-size: 1.4rem;
	line-height: 2rem;
	display: inline-block;
	text-decoration: none;
	background: transparent;
	padding: 5px 0 5px 20px;

	&:after,
	&:before {
		top: 50%;
		left: 0;
		width: 12px;
		height: 2px;
		content: '';
		font-size: 0;
		line-height: 0;
		margin-top: -1px;
		position: absolute;
		display: inline-block;
		background: #838383;
	}

	&:after {
		@include rotate(45deg);
	}

	&:before {
		@include rotate(-45deg);
	}
}

.btn_clear_blue {
	color: $color-blue;

	&:after,
	&:before {
		background: $color-blue;
	}
}

.btn_inline {
	padding: 0;
	min-height: 40px;
	margin: 0 -14px;
	list-style: none;
	@include flexbox();
	@include align-items(center);

	li {
		padding: 5px 14px;
		display: inline-block;
	}

		&_xs {
		margin: 0 -7px;

		li {
			padding: 0 7px;
		}

		.btn {
			padding-left: 28px;
			padding-right: 28px;
		}
	}

	&_wrap {
		@include flex-wrap(wrap);
	}
}

.btn_disable {
	opacity: 0.4;
}

.btn_add {
	text-align: left;
	padding-left: 29px;
	font-size: 1.4rem;
	line-height: 2rem;
	position: relative;
	text-decoration: none;
	display: inline-block;

	i {
		left: 0;
		top: 50%;
		width: 20px;
		height: 20px;
		font-size: 0;
		line-height: 0;
		margin-top: -10px;
		position: absolute;
		display: inline-block;
		border: 1px solid rgba(2,136,209,0.3);
		@include border-radius(50%);

		&:after,
		&:before {
			top: 50%;
			left: 50%;
			z-index: 2;
			width: 2px;
			content: '';
			height: 10px;
			position: absolute;
			display: inline-block;
			margin: -5px 0 0 -1px;
			background: $color-blue;
		}

		&:after {
			@include rotate(90deg);
		}
	}
}

.btn_print {
	color: #0288D1;
	opacity: 0.4;
	text-align: left;
	font-weight: 600;
	font-size: 1.4rem;
	line-height: 2rem;
	position: relative;
	white-space: nowrap;
	padding-left: 33px;
	text-decoration: underline;
	display: inline-block;
	@include transition(.3s);

	i {
		left: 0;
		top: 50%;
		width: 22px;
		height: 20px;
		font-size: 0;
		line-height: 0;
		margin-top: -10px;
		position: absolute;
		display: inline-block;
	}

	.ico_svg {
		fill: #0288D1;
	}

	&.disable {
		opacity: 0.4 !important;
	}

	&:hover {
		opacity: 1;
		color: #0288D1;
		text-decoration: moccasin;
		@include transition(.3s);

		.ico_svg {
			fill: #0288D1;
		}
	}
}

.btn_remove {
	margin: 0;
	padding: 0;
	width: 14px;
	height: 14px;
	font-size: 0;
	line-height: 0;
	border: none;
	outline: none;
	position: relative;
	display: inline-block;
	background: transparent;

	&:after,
	&:before {
		top: 50%;
		left: 50%;
		width: 12px;
		height: 2px;
		content: "";
		font-size: 0;
		line-height: 0;
		margin-top: -1px;
		margin-left: -6px;
		position: absolute;
		display: inline-block;
		background: #EF2323;
	}

	&:after {
		@include rotate(45deg);
	}

	&:before {
		@include rotate(-45deg);
	}
}

