
.table_responsive {
	width: 100%;

	.table {
		margin-bottom: 0;

		thead {
			z-index: 2;
			position: relative;
		}
	}

	@media (max-width: $screen-xs-max) {
		overflow-y: hidden;
		overflow-x: auto;
		@include border-radius(6px);
		box-shadow:
				0px 1px 3px rgba(0, 0, 0, 0.2),
				0px 1px 1px rgba(0, 0, 0, 0.14),
				0px 2px 1px rgba(0, 0, 0, 0.12);


		.table {
			@include border-radius(0);
			@include box-shadow(none);

			th {

				td {

					&:first-child {
						@include border-radius(0);
					}

					&:last-child {
						@include border-radius(0);
					}
				}
			}

			tr {

				&:last-child {

					td {

						&:first-child {
							@include border-radius(0);
						}

						&:last-child {
							@include border-radius(0);
						}
					}
				}
			}
		}
	}
}

.table_responsive_md {
	width: 100%;

	.table {
		margin-bottom: 0;

		thead {
			z-index: 2;
			position: relative;
		}
	}

	@media (max-width: $screen-sm-max) {
		overflow-y: hidden;
		overflow-x: auto;
		@include border-radius(6px);
		box-shadow:
				0px 1px 3px rgba(0, 0, 0, 0.2),
				0px 1px 1px rgba(0, 0, 0, 0.14),
				0px 2px 1px rgba(0, 0, 0, 0.12);


		.table {
			@include border-radius(0);
			@include box-shadow(none);

			th {

				td {

					&:first-child {
						@include border-radius(0);
					}

					&:last-child {
						@include border-radius(0);
					}
				}
			}

			tr {

				&:last-child {

					td {

						&:first-child {
							@include border-radius(0);
						}

						&:last-child {
							@include border-radius(0);
						}
					}
				}
			}
		}
	}
}

.table_responsive_lg {
	width: 100%;

	.table {
		margin-bottom: 0;

		thead {
			z-index: 2;
			position: relative;
		}
	}

	@media (max-width: $screen-md-max) {
		overflow-y: hidden;
		overflow-x: auto;
		@include border-radius(6px);
		box-shadow:
				0px 1px 3px rgba(0, 0, 0, 0.2),
				0px 1px 1px rgba(0, 0, 0, 0.14),
				0px 2px 1px rgba(0, 0, 0, 0.12);


		.table {
			min-width: 1000px;
			@include border-radius(0);
			@include box-shadow(none);

			th {

				td {

					&:first-child {
						@include border-radius(0);
					}

					&:last-child {
						@include border-radius(0);
					}
				}
			}

			tr {

				&:last-child {

					td {

						&:first-child {
							@include border-radius(0);
						}

						&:last-child {
							@include border-radius(0);
						}
					}
				}
			}
		}
	}
}

.table_responsive_xl {
	width: 100%;

	.table {
		margin-bottom: 0;

		thead {
			z-index: 2;
			position: relative;
		}
	}

	@media (max-width: $screen-lg-max) {
		overflow-y: hidden;
		overflow-x: auto;
		@include border-radius(6px);
		box-shadow:
				0px 1px 3px rgba(0, 0, 0, 0.2),
				0px 1px 1px rgba(0, 0, 0, 0.14),
				0px 2px 1px rgba(0, 0, 0, 0.12);


		.table {
			min-width: 1000px;
			@include border-radius(0);
			@include box-shadow(none);

			th {

				td {

					&:first-child {
						@include border-radius(0);
					}

					&:last-child {
						@include border-radius(0);
					}
				}
			}

			tr {

				&:last-child {

					td {

						&:first-child {
							@include border-radius(0);
						}

						&:last-child {
							@include border-radius(0);
						}
					}
				}
			}
		}
	}
}

.table {
	width: 100%;
	border: none;
	outline: none;
	line-height: 1.3;
	font-size: 1.1rem;
	vertical-align: middle;
	border-collapse: collapse;
	box-shadow:
			0px 1px 3px rgba(0, 0, 0, 0.2),
			0px 1px 1px rgba(0, 0, 0, 0.14),
			0px 2px 1px rgba(0, 0, 0, 0.12);
	@include border-radius(10px);

	th {
		color: #fff;
		line-height: 1.2;
		text-align: left;
		padding: 12px 10px;
		background: $color-blue;

		small {
			font-size: 100%;
			font-weight: 400;
			opacity: 0.7;
			padding-top: 2px;
			display: block;
		}

		&:first-child {
			@include border-radius(10px 0 0 0);
		}

		&:last-child {
			@include border-radius(0 10px 0 0);
		}
	}

	td {
		border: none;
		padding: 12px 10px;
		vertical-align: middle;
//		border-top: 1px solid transparent;

		&:first-child {
			padding-left: 20px;
		}

		&:last-child {
			padding-right: 20px;
		}

		strong {
			font-weight: 600;
		}
	}

	tr {

		&:nth-child(odd) {

			td {
				background: #fff;
				border-top-color: #fff;
			}
		}

		&:nth-child(even) {

			td {
				background: #EDF4FA;
				border-top-color: #EDF4FA;
			}


			&.inactive {

				td {
					background: #F7FAFD;
				}
			}
		}

		&:last-child {

			td {

				&:first-child {
					@include border-radius(0 0 0 10px);
				}

				&:last-child {
					@include border-radius(0 0 10px 0);
				}
			}
		}

		&.inactive {

			td {

				> span {
					opacity: 0.4;
				}

				> a {
					opacity: 0.4;
				}
			}
		}

		&.row_inactive {
			opacity: 0.5;
		}

		&.row_selected {

			td {
				background: rgba(37, 194, 185, 0.15);
				border-top: 2px solid $color-green;
				border-bottom: 2px solid $color-green;

				&:first-child {
					border-left: 2px solid $color-green;
				}

				&:last-child {
					border-right: 2px solid $color-green;
				}
			}
		}
	}


	@media (min-width: $screen-md-min) {

		th {

			&:first-child {
				padding-left: 20px;
			}

			&:last-child {
				padding-right: 20px;
			}
		}

		td {

			&:first-child {
				padding-left: 20px;
			}

			&:last-child {
				padding-right: 20px;
			}

		}
	}


	@media (min-width: $screen-lg-min) {
		font-size: 1.4rem;
		line-height: 2rem;

		th {
			line-height: 1.2;
			padding: 10px 15px;

			&:first-child {
				padding-left: 25px;
			}

			&:last-child {
				padding-right: 25px;
			}
		}

		td {
			padding: 15px 15px;

			&:first-child {
				padding-left: 25px;
			}

			&:last-child {
				padding-right: 25px;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		th {
			height: 55px;
		}
	}
}

.table_lg {

	td {
		padding: 24px 15px;
	}
}


.table_compact {

	th {
		padding: 12px 7px;
	}

	td {
		padding: 12px 7px;
		border-top: none;
	}


	.form_control {
		max-width: 160px;
	}

	@media (min-width: $screen-md-min) {

		th {

			&:first-child {
				padding-left: 20px;
			}

			&:last-child {
				padding-right: 20px;
			}
		}

		td {

			&:first-child {
				padding-left: 20px;
			}

			&:last-child {
				padding-right: 20px;
			}

		}
	}

	@media (min-width: $screen-lg-min) {

		th {
			padding: 12px 7px;

			&:first-child {
				padding-left: 25px;
			}

			&:last-child {
				padding-right: 25px;
			}
		}

		td {
			padding: 14px 7px;

			&:first-child {
				padding-left: 25px;
			}

			&:last-child {
				padding-right: 25px;
			}
		}
	}
}

.table_small {

	th {
		padding: 12px 7px;
	}

	td {
		padding: 12px 7px;
		border-top: none;
	}


	.form_control {
		max-width: 140px;
	}

	@media (min-width: $screen-md-min) {

		th {

			&:first-child {
				padding-left: 20px;
			}

			&:last-child {
				padding-right: 20px;
			}
		}

		td {

			&:first-child {
				padding-left: 20px;
			}

			&:last-child {
				padding-right: 20px;
			}

		}
	}

	@media (min-width: $screen-lg-min) {

		th {
			padding: 12px 7px;

			&:first-child {
				padding-left: 25px;
			}

			&:last-child {
				padding-right: 25px;
			}
		}

		td {
			padding: 15px 7px;

			&:first-child {
				padding-left: 25px;
			}

			&:last-child {
				padding-right: 25px;
			}
		}
	}
}

.table_collapse {


	@media (max-width: $screen-xs-max) {
		display: block;

		thead {
			display: none;
		}

		tbody {
			display: block;
		}

		tr {
			display: block;
		}

		td {
			padding: 8px 10px;
			@include flexbox();
			@include align-items(center);
			@include justify-content(space-between);

			&:before {
				font-weight: 600;
				padding-right: 15px;
				content: attr(data-head);
			}

			&:last-child {
				padding-bottom: 12px;
				padding-right: 10px;
			}

			&:first-child {
				padding-top: 12px;
				padding-left: 10px;
			}
		}

		.text_center {
			text-align: left !important;
		}
	}
}

.table_sort {
	cursor: pointer;
	padding-right: 17px;
	display: inline-block;
	position: relative;

	&:after,
	&:before {
		right: 0;
		z-index: 10;
		width: 9px;
		height: 8px;
		content: '';
		font-size: 0;
		line-height: 0;
		position: absolute;
		display: inline-block;
		background: url("../img/icon__sort.svg") no-repeat;
	}

	&:after {
		top: 50%;
		background-position: 0 100%;
	}

	&:before {
		bottom: 50%;
		background-position: 0 0;
	}

	&.sort_up {

		&:before {
			margin-bottom: -5px;
		}

		&:after {
			opacity: 0;
			visibility: hidden;
		}
	}

	&.sort_down {

		&:after {
			margin-top: -5px;
		}

		&:before {
			opacity: 0;
			visibility: hidden;
		}
	}
}

.table_finished {
	position: relative;
}

.table_auto {
	width: auto;
}

.table_pay {

	@media (min-width: $screen-md-min) {
		width: 300px;
	}
}

.table_select {
	width: 140px;
	display: inline-block;
//	min-width: 140px;

	@media (min-width: $screen-lg-min) {
		width: 120px;
	}

	@media (min-width: $screen-xl-min) {
		width: 140px;
	}
}



